<% include ../partials/header %>

<div id="thread-page">
    <h1><%= thread.title %></h1>
    <p class="badge badge-light"><em>Create by <a href="/profiles/<%= thread.author.id%>"><%= thread.author.username%></a></em></p>
    <hr class="my-3">
    <div>
        <% if (thread.image) {%>
            <img src="<%= thread.image %>" class = "image">
        <% } %>
    </div>
    <p><%=thread.content%></p>
</div>

<div>
    <!-- if currentUser is false, the expression will not evaluate the following  -->
    <% if(currentUser && (thread.author.id.equals(currentUser._id) || currentUser.isAdmin) ) { %>
        <a class="btn btn-outline-warning" href="/threads/<%= thread._id %>/edit">Edit</a>
        
        <!-- if you want to delete (with method override, you have to send a POST req, through a form) -->
        <form class="delete-form" action="/threads/<%= thread._id %>?_method=DELETE" method="POST">
            <button class="btn btn-outline-danger">Delete</button>
        </form>
    <% } %>
</div>
<hr class="my-3">

<br>

<div>
    <!--COMMENT SECTION START-->
    <div class="well">
        <!--Setting up the add new comment button that is used for collapsing-->
        <div>
            <!--Comment section title-->
            <h4>Comments</h4>
            <a class="btn btn-success pull-right" role="button" data-toggle="collapse" href="#collapseComment" aria-expanded="false" aria-controls="collapseComment">Add new comment</a>
        </div>
        
        
        <!--Collapse Add a comment form START-->
        <div class="collapse" id="collapseComment">
            <div class="well" style="border-left: 5px solid #00C851; padding: 13px 18px">
                <% if(!currentUser) { %>
                    <!--If the user is not logged in, direct him to the login page-->
                    <h5>You need to login before you can comment. <a href="/login">Click here</a> to go to the login page.</h5>
                <% } %>
                <% if(currentUser) { %>
                    <!--If the user is logged in, show the new comment form-->
                    <h4>Write your comment</h4>
                    <!-- This form will still post to the original route-->
                    <form id="add-comment-form" action="/threads/<%= thread._id %>/comments" method="POST">
                        <div class="form-group">
                            <input class="form-control" type="text" disabled value="Comment by: <%= currentUser.username %>">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="comment[text]" placeholder="Write your comment..." form="add-comment-form" rows="5" cols="70"></textarea>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-success btn-sm">Comment</button>
                        </div>
                    </form>
                <% } %>
            </div>
        </div>
        <!--Collapse Add a comment form END-->
        
        <hr>
            <!--Check if there are comments, if there are none say no comments.-->
            <% if (thread.comments.length === 0) { %>
                <em style="color: grey;">No comments yet.</em>
            <% } %>
            
            <!--DISPLAY COMMENT START: Display comments by looping through them-->
            <% thread.comments.forEach(function(comment) { %>
                <div class="row">
                    <div class="col-md-12">
                        <strong>
                            <% if (currentUser && currentUser._id.equals(comment.author.id)) { %>
                                <!--If the current user owns the comment, show icon-->
                                <i class="far fa-user"></i>
                            <% } else { %>
                                <!--Else just display it black-->
                                <!--<span aria-hidden="true"></span>-->
                            <% } %>
                            <!--Print out the author username-->
                            <%= comment.author.username %>
                        </strong>
            
                        <!--Show when the comment was made-->
                        <span class="float-right"><%= moment(comment.createdAt).fromNow() %></span>
                        <!--Printing the comment-->
                        <p><%= comment.text %></p>
            
                        <!--If the visitor is logged in and the owner of the comment, show the edit and delete buttons-->
                        <% if (currentUser && (currentUser._id.equals(comment.author.id) || currentUser.isAdmin)) { %>
                            <!--Edit button -->
                            <a class="btn btn-xs btn-warning" 
                            href="/threads/<%= thread._id %>/comments/<%= comment._id %>/edit">Edit</a>
                            <!--Delete comment button, implemented with a form, as usual-->
                            <form id="delete-form" action="/threads/<%= thread._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST" style="display: inline;">
                                <button class="btn btn-xs btn-danger">Delete</button>
                            </form>
                        <% } %>
                    <hr>
                </div>
            </div>
            <% }) %>
            <!-- DISPLAY COMMENT END-->
            
    </div>
    <!--COMMENT SECTION END-->
            
</div>
<br>

<% include ../partials/footer %>